In [1]:

import missingpy
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score, classification_report
import seaborn as sns
import matplotlib.pyplot as plt
from xgboost import XGBClassifier

c:\users\adm\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

print(train.shape, test.shape)

(2838, 370) (939, 369)

In [3]:
train

,Year,Field ID,Field Area,Day 1,Day 2,Day 3,Day 4,Day 5,Day 6,Day 7,...,Day 358,Day 359,Day 360,Day 361,Day 362,Day 363,Day 364,Day 365,Day 366,Culture
0,2018,517,48.64,0.5369,0.5371,0.5375,0.5379,0.5384,0.5390,0.5397,...,0.4362,0.4322,0.4283,0.4243,0.4203,0.4163,0.4123,0.4084,NaN,4
1,2019,1395,80.41,0.1159,0.1096,0.1034,0.0971,0.0909,0.0846,0.0783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,2017,44,43.64,-0.0204,-0.0207,-0.0210,-0.0212,-0.0215,-0.0218,-0.0220,...,0.0833,0.1149,0.1466,0.1782,0.2099,0.2415,0.2732,0.3048,NaN,2
3,2018,1591,79.34,0.4827,0.4576,0.4324,0.4073,0.3821,0.3570,0.3318,...,0.2657,0.2668,0.2680,0.2692,0.2705,0.2717,0.2730,0.2743,NaN,4
4,2017,681,144.76,-0.0202,-0.0191,-0.0181,-0.0170,-0.0160,-0.0150,-0.0140,...,-0.0354,-0.0358,-0.0361,-0.0365,-0.0369,-0.0372,-0.0376,-0.0379,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2833,2019,1631,117.04,0.4429,0.4430,0.4430,0.4431,0.4431,0.4431,0.4431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2834,2016,336,70.61,0.0620,0.0687,0.0755,0.0822,0.0890,0.0957,0.1025,...,0.0041,0.0173,0.0304,0.0436,0.0567,0.0699,0.0830,0.0962,0.1093,4
2835,2016,371,60.26,0.0460,0.0399,0.0338,0.0277,0.0216,0.0154,0.0093,...,0.3555,0.3506,0.3458,0.3409,0.3361,0.3313,0.3264,0.3216,0.3167,4
2836,2017,115,237.86,-0.0148,-0.0149,-0.0150,-0.0151,-0.0153,-0.0154,-0.0155,...,0.0362,0.0458,0.0555,0.0651,0.0747,0.0843,0.0939,0.1035,NaN,5
2837,2018,215,48.86,0.2593,0.2590,0.2589,0.2588,0.2589,0.2590,0.2592,...,0.1462,0.1510,0.1559,0.1607,0.1655,0.1703,0.1752,0.1800,NaN,7

In [4]:
X_train = train.drop(['Culture','Day 366'], axis=1)
y_train = train['Culture']

X_test=test.drop(['Day 366'],axis=1)

In [5]:
print(X_train.shape, X_test.shape, y_train.shape)

(2838, 368) (939, 368) (2838,)

BaseLine

In [ ]:
%%time
X_train_imp = imputer.fit_transform(X_train,y=y_train)

In [12]:
X_test_imp = imputer.transform(X_test)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3

In [14]:
#X_train_imp['Culture']=train['Culture']
X_train_imp.to_csv('X_train_imp.csv',index=False)
X_test_imp.to_csv('X_test_imp.csv',index=False)

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'