crm_goose.csv
По сценарию соревнования это те данные, которые остались в наследство от прежнего дата саентиста. Этот специалист уже ранее подступался к данной задаче, но не успел ни довести ее до пилотирования, ни передать по ней дела — столь сильно было желание сменить поле деятельности (мы его иногда прекрасно понимаем). К сожалению, этот специалист не только не слышал про воспроизводимость и REPA-ML, но нам даже не удалось отыскать код, воспроизводящий эти данные. Однако, сами данные уже содержат ряд признаков, которые могут помочь решить задачу. Помогут ли эти признаки участникам — узнаем на Data Halloween, когда мы раскроем backstage про подготовку задачи.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('crm_goose.csv')
df

,clnt_id,grey_goose_F0,grey_goose_F1,grey_goose_F2,grey_goose_F3,grey_goose_F4,goose_agg_0,goose_agg_1,goose_agg_2,goose_agg_3,...,wild_goose_A_0,wild_goose_A_1,wild_goose_A_2,wild_goose_A_3,wild_goose_A_4,wild_goose_A_5,wild_goose_A_6,wild_goose_A_7,wild_goose_A_8,wild_goose_A_9
0,3700,0,1,1,1,0,98.0,-87449.0,2138.696906,113.0,...,5743.754372,2362.996967,-6000.0,NaN,NaN,NaN,NaN,NaN,12831.625239,5.0
1,4545,0,0,1,1,0,94.0,-542660.0,25775.051604,107.0,...,NaN,14289.920941,-22000.0,NaN,100000.0,NaN,NaN,NaN,NaN,6.0
2,3656,0,1,0,0,1,NaN,NaN,NaN,NaN,...,NaN,1530.359435,-3800.0,-10500.0,20000.0,NaN,NaN,NaN,9347.738140,6.0
3,4445,1,1,1,1,0,46.0,-122665.0,9808.466833,54.0,...,871.779789,3386.310076,-10000.0,NaN,NaN,NaN,NaN,NaN,935.269034,6.0
4,4112,0,1,1,0,0,NaN,NaN,NaN,NaN,...,NaN,3755.440498,-8000.0,-1111.0,720.0,1.0,-39.0,NaN,934.470566,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2909,4320,1,1,1,1,0,9.0,-44179.0,4146.928254,10.0,...,NaN,0.000000,-10000.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2910,4242,0,0,0,0,0,23.0,-72742.0,3087.292634,26.0,...,NaN,3948.468198,-13000.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2911,4676,0,0,0,0,1,18.0,-51821.0,4353.479389,20.0,...,NaN,1649.724583,-4000.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2912,4556,0,1,1,1,0,52.0,-50623.0,1448.669609,60.0,...,NaN,1419.481908,-8000.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2913,4970,0,0,1,1,0,19.0,-31867.0,4324.512022,25.0,...,6222.539674,5619.899081,-17700.0,NaN,NaN,NaN,NaN,NaN,6222.539674,1.0

In [4]:
len(df.clnt_id.unique())

2914

их же всего 2899?